:root{
    --blue: #702A9F;
    --blueHover: #9549c7;
}

/* Burger Styling  > 590px*/

.burger{
    display: none;
}

.menu{
    display: none;
}

@media only screen and (max-width: 590px){
    .burger{
        display: flex;
        flex-direction: column;
        background: transparent;
        border:none;
        outline: none;
        height: 26px;
        width: 32px;
        margin: 2px;
        top:0;
        margin-right: 15px;
        cursor: pointer;
        position: relative;
        justify-content: space-around;
        transition: 0.3s ease-in-out;
    }

    .line{
        display: flex;

        width: 30px;
        height: 4px;
        background-color: var(--blue);
        border-radius: 4px;
        transition: 0.3s ease-in-out;
    }

    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-400deg) translateY(4px) translateX(4px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }

    .menu.active {
        display:flex;
        height: 95vh;
        width: 55%;
        background-color: #702A9F;
        right: 0;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        padding-bottom: 15px;
    }

    a{
        text-decoration: none;
        font-size: 24px;
        color: whitesmoke;
        font-weight: bold;
        padding: 0.2rem;
    }
}

@media only screen and (max-width: 420px){
    .menu.active {
        width: 100%;
    }
}