@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200&family=Comfortaa:wght@500;700&family=Montserrat&display=swap');

div#LoginBar{
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-content: center;
    height: 34px;
    width: 100vw;
    min-width: 310px;
    background-color: white;    
    position: relative;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    border-bottom: 1px solid black;
}

#lang{
    height: 30px;
}

.language-select {
    display: flex;
    margin: 0;
}
  
.flag {
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    align-items: center;

}
  
.flag img {
    width: 30px; /* Dostosuj rozmiar flagi według swoich potrzeb */
    height: auto;
    border: 1px solid black;
}
  
.flag.active {
    opacity: 1;
}

.box1{
    margin-left: 20px;
    width: 60px;
}

.box2{
    font-family: 'Comfortaa';
    font-size: 1.25rem;
    font-weight: bold;
}

.box3{
    font-family: 'Bricolage Grotesque', 'Montserrat';
    font-size: 1.25rem;
    font-weight: lighter;
}


.textBlock{
    margin-top: 5px;
}

.hamburger-menu{
    display: none;
}


  
img#logo{
    max-height: 24px;
    margin-inline: 16px;
    margin-top: 3px;
}


.box3{
    flex: 3 1 auto;
}

  

@media only screen and (max-width: 850px){
    div#LoginBar{
        height: 30px;
        width: 100%;
        background-color: white;    
        position: fixed;
        top:0;
        left:0;
        border-bottom: 1px solid black;
    }

    .box1{
        margin-inline: 10px;
        width: 50px;
    }

    .box2{
        font-size: 1.0rem;
    }
    
    .box3{
        font-size: 1.0rem;
    }

    .flag{
        margin-top: 1px;
    }

    #lang{
        height: 26px;
    }
}

@media only screen and (max-width: 740px){
    .box3{
        display: none;
    }
}


@media only screen and (max-width: 590px){

    .login-button{
        display: none;
    }

    .language-select{
        display: none;
    }

    /*Hamburger Menu*/
    .bar {
        width: 100%;
        height: 4px;
        background-color: #7f7676; 
        transition: 0.4s;
    }

    .hamburger-menu {
        display: inline-block; /* Upewnij się, że pasek jest widoczny w jednej linii */
        position: relative;
    }

    .bars{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        margin: 5px 10px 0 0;
        cursor: pointer;
    }

  
    /* Styl dla rozwijanej listy */
    .menu-items {
        position: absolute; /* Ustaw pozycję na absolute, aby menu było położone względem paska nawigacji */
        top: 100%; /* Przesuń menu poniżej paska nawigacji */
        left: 0; /* Umieść menu w lewym rogu paska nawigacji */
        display: none; /* Domyślnie ukryj menu */
        background-color: white; /* Stylizacja tła */
        border: 1px solid black; /* Stylizacja obramowania */
        padding: 10px; /* Dodaj wypełnienie, aby zawartość była czytelna */
    }
  
    /* Styl dla pojedynczego elementu menu */
    .menu-items a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 5px 0;
    }
    
    /* Pokaż menu, gdy pasek nawigacji jest aktywny (po kliknięciu) */
    .hamburger-menu.active .menu-items {
        display: block;
  }

}
