@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200&family=Comfortaa:wght@500;700&family=Montserrat&display=swap');

div#LoginBar{
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-content: center;
    height: 5vh;
    width: 100%;
    min-width: 310px;
    background-color: white;    
    position: fixed;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    border-bottom: 1px solid black;
    
}



#lang{
    height: 30px;
}

.language-select {
    display: flex;
    margin: 0;
}
  
.flag {
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    align-items: center;

}
  
.flag img {
    width: 30px; /* Dostosuj rozmiar flagi według swoich potrzeb */
    height: auto;
    border: 1px solid black;
}
  
.flag.active {
    opacity: 1;
}

.box1{
    margin-left: 20px;
    width: 60px;
}

.box2{
    font-family: 'Comfortaa';
    font-size: 1.25rem;
    font-weight: bold;
}

.box3{
    font-family: 'Bricolage Grotesque', 'Montserrat';
    font-size: 1.25rem;
    font-weight: lighter;
}


.textBlock{
    margin-top: 5px;
}

.hamburger-menu{
    display: none;
}


  
img#logo{
    max-height: 24px;
    margin-inline: 16px;
    margin-top: 3px;
}


.box3{
    flex: 3 1 auto;
}

  

@media only screen and (max-width: 850px){
    div#LoginBar{
        height: 30px;
        width: 100%;
        background-color: white;    
        position: fixed;
        top:0;
        left:0;
        border-bottom: 1px solid black;
    }

    .box1{
        margin-inline: 10px;
        width: 50px;
    }

    .box2{
        font-size: 1.0rem;
    }
    
    .box3{
        font-size: 1.0rem;
    }

    .flag{
        margin-top: 1px;
    }

    #lang{
        height: 26px;
    }
}

@media only screen and (max-width: 740px){
    .box3{
        display: none;
    }
}


@media only screen and (max-width: 590px){

    .login-button{
        display: none;
    }

    div#LoginBar{
        margin-right: 0;
        padding-right: 0;
        width: 100%;
    }

    .language-select{
        display: none;
    }

    .textBlock{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    /*Hamburger Menu - komponent główny*/
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        border: none;
        background: none;
        margin:0;
        padding: 0;
    }


    /* Hamburger Menu - styl burgera */
    .burger{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        justify-content: space-around;
        width: 30px;
        height: 30px;   
        border: none;
        background: none;
        margin: 3px 3px 0 0;
        padding: 0;
        cursor: pointer;
    }


    .line{
        height: 4px;
        width: 25px;
        background: rgb(124, 19, 221);
    }

    /*Hamburger Menu - styl rozwijanego menu  */
    .menu-items{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 30px;
        padding: 0 0 50px 0;
        width: 50%;
        height: 95vh;
        justify-content: space-around;
        list-style: none;
        background: rgb(124, 19, 221);
        color: whitesmoke;
    }

    .menu-items li{
        text-align: center;
        font-size: 20px;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 600;
    }

    .menu-items li Link{
        color: whitesmoke;
    }

    a {
        text-decoration: none;
        color: whitesmoke; 
    }
}

@media only screen and (max-width: 390px){
        /*Hamburger Menu - styl rozwijanego menu  */
        .menu-items{
            width: 100%;
        }
}