@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200&family=Comfortaa:wght@500;700&family=Montserrat&display=swap');

/*Ustawienia siatki wg MediaQueries*/
#mainPage{
    grid-template-columns: 25% 50% 25%;
}
.mapComponent{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}
article#mainText{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
article#outro{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}
article#twitter{
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}
article.wwwRecommendations{
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}

/*Komponent składowe MainPage Fullscreen*/
/* a) - komponent główny*/
#mainPage{
    display: grid;
    width: 100%;
    gap: 10px;
}

/* b) - komponent map*/
.mapComponent{
    display: flex;
    width: 90%;
    align-content: center;
    margin: 20px 0 0 10px;
}

div#mapSection{
    font-size: 0.875rem;
    font-family: 'Bricolage Grotesque';
    background-color: aquamarine;
    padding: 8px;
    border-radius: 2rem;
    overflow: hidden;
}

#mapHeader{
    width: 100%;
    text-align: center;
}

.map img{
    width: 100%;
    min-width: none;
}

.map li{
    float:left;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 600;
}

.map span{
    font-size: 1.17rem;
}

.map strong{
    font-weight: bold;
    font-size: 1.75rem;
}

.map ul{
    list-style: none;
    margin-right: 3px;
    padding-inline: 0;
}

/* c) - komponent MainText*/
article#mainText{
    margin-top: 24px;
}

div#objectsIMG{
    display: block;
}

div#objectsIMG img{
    max-width: 100%;
    min-width: 300px;
}


/* d) - komponent Outro*/
article#outro{
    padding: 4px;;
}

.super{
    font-family: Impact;
    font-size: 24px;
}

/* e) - komponent TweetWidget*/
article#twitter{
    justify-content: center;
    min-width: 280px;
}

#twit{
    justify-content: center;
    width: 90%;
    margin: auto;
}

#mostyIZB{
    font-weight: bold;
    font-style: italic;
    font-family: "Montserrat";
    font-size: 16px;
    color: white;
    background-color: rgb(101, 109, 160);
    border-radius: 10px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

/* f) - CSS komponent WWWRecommendations*/
article.wwwRecommendations{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 10px 30px 10px;
    align-items: center;
}

/* g) - CSS komponent Disclaimer*/
footer#disclaimer{
    display: block;
    width: 100%;
    text-align: center;
    font-style: italic;
    background-color: white;  
    border-top: 1px solid black;  
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    left:0;
}



@media screen and (max-width: 1190px){
    .map span{
        font-size: 1.0rem;
    }

    .map strong{
        font-weight: bold;
        font-size: 1.5rem;
    }

    .map li{
        font-size: 0.75rem;
    }
}




@media screen and (max-width: 1024px){
    #mapSection{
        font-size: 0.75rem;
    }

    #twitter{
        display: none;
    }

    /*Ustawienia siatki wg MediaQueries*/
    #mainPage{
        grid-template-columns: 30% 70%;
    }

    article.wwwRecommendations{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
}

@media screen and (max-width: 768px){
    /*Ustawienia siatki wg MediaQueries*/
    #mainPage{
        margin: 0 50px;
        grid-template-columns: 90%;
        align-items: center;
        
    }
    .mapComponent{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-top: 0;
    }
    article#mainText{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    article#outro{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    article.wwRecommendations{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .map li{
        font-size: 1.17rem;
    }

    .map strong{
        font-size: 2rem;
    }

    .map span{
        font-size: 1.5rem;
    }

    #disclaimer{
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 600px){
    /*Ustawienia siatki wg MediaQueries*/
    #mainPage{
        margin: 0 30px;
    }

    #disclaimer{
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 540px){
    /*Ustawienia siatki wg MediaQueries*/
    .map li{
        font-size: 1rem;
    }

    #disclaimer{
        font-size: 0.6rem;
    }
}


@media screen and (max-width: 440px){

    /*MainText - czcionki*/
    #mainText strong{
        font-size: 1.25rem;
    }

    #mainText ul{
        font-size: 0.875rem;
    }

    #mainText p{
        font-size: 0.875rem;
    }

    /*Map - czcionki*/

    .map strong{
        font-size: 1.5rem;
    }
    .map span{
        font-size: 1rem;
    }

    .map li{
        font-size: 0.75rem;
    }

    .mapComponent{
        width: 95%;
        margin-inline: 0;
    }

    /*Outro - czcionki*/
    #outro strong{
        font-size: 1.25rem;
    }

    #outro p{
        font-size: 0.875rem;
    }

    #disclaimer{
        font-size: 0.5rem;
    }
}

















