/*Stylowanie wg TAGÓW*/
body{
    display: block;
    font-family: sans-serif;
    min-width: 600px;
    margin-inline: 20px;
  }
  
  header{
    font-family: impact;
    font-size: 1.25rem;
  }
  
  p{
    text-indent: 1.5rem;
  }
  /*Stylowanie wg klas tagów*/

  
  .menuBar{
    border: none;
    height: 32px;
    flex-grow: 1 1 auto;
    background-color: white;
    color: grey;
    transition: color 0.3s;
    font-size: 1.5rem;
    font-family: impact;
    font-weight: 100;
  }
  
  .menuBar:hover{
    color: blue;
    text-decoration: underline;
  }
  
  .recoIMGs{
    display: block;
    max-width: 320px;
    margin-inline: 16px;
    margin-top: 4px;
  }
  
  .super{
    font-family: impact;
    font-size: 1.5rem;
    margin: 8px;
  }
  
  /*Stylowanie wg ID tagów*/
  article#intro{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 4px;;
  }
  
  article#mainText{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  
  article#map{
    margin: 8px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  
  div#mapBorder{
    background-color: aquamarine;
    border-radius: 2rem;
    max-height: fit-content;
    font-size: 0.875rem;
  }
  
  article#twitter{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    width: 90%;
  }
  
  article#wwwRecommendations{
    display: block;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin:8px;
    padding: 8px;
  }
  
  aside#header{
    font-size: 1.25rem;
    font-family: arial;
    font-stretch: ultra-condensed;
  }
  
  div#mapHeader{
    width: 100%;
    text-align: center;
  }
  
  div#menuBar{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  
  div#objectsIMG{
    display: block;
  }
  
  div#objectsIMG img{
    max-width: 100%;
    min-width: 300px;
  }
  
  dt#h3{
    font-size: 1.17rem;
    font-weight: lighter;
    font-family: impact;
  }
  
  
  footer#disclaimer{
    display: block;
    width: 100%;
    text-align: center;
    font-style: italic;
    background-color: white;  
    border-top: 1px solid black;  
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    left:0;
  }
  
  img#bridgeIMG {
    max-width: 100%;
    border: 2px solid black;
    margin-top: 32px;
  }
  

  img#map{
    float:left;
    width: 100%;
  }
  
  
  
  section#mainPage{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 50% 25%;
    gap: 10px;
  }
  
  section#menuBar{
    display: flex;
    justify-content: space-between;
    height: 32px;
    min-width: 600px;
    width: 70%;
    margin-inline: 32px;
  }   
  
  select#lang{
    margin: 8px;
    padding: 4px;
  }
  

  
  ul#lk{
    text-indent: 0;
    margin-right: 4px;
    margin-left: 20px;
    padding-inline: 0;
  }