.menuBar{
    border: none;
    width: 100%;
    height: 36px;
    background-color: white;
    color: grey;
    transition: color 0.3s;
    font-size: 1.75rem;
    font-family: impact;
    font-weight: 100;
}

.menuBar:hover{
    color: blue;
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 42px;
    margin-inline: 32px;
}   


@media screen and (max-width: 768px){
    nav{
        height: 28px;
    }

    .menuBar{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 590px){
    nav{
        display: none;
    }
}